### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [3]:
#display table
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
total_players = len(purchase_data_df["SN"].unique())
total_players_df=pd.DataFrame({"Total Players":[total_players]})
total_players_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
item_count = purchase_data_df['Item ID'].nunique()
avg_price = round(purchase_data_df['Price'].mean(),2)
tot_count = purchase_data_df['Price'].count()
tot_rev = purchase_data_df['Price'].sum()

purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [item_count], "Average Price": avg_price, 
                    "Number of Purchases": [tot_count], "Total Revenue": tot_rev})

purchase_analysis_df.style.format({"Avg Price": "${:.2f}", "Total Revenue": "${:.2f}"})

purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
female_df=purchase_data_df.loc[purchase_data_df["Gender"]=="Female",:]
count_female=len(female_df["SN"].unique())

male_df=purchase_data_df.loc[purchase_data_df["Gender"]=="Male",:]
count_male=len(male_df["SN"].unique())

other_df=purchase_data_df.loc[purchase_data_df["Gender"]=="Other / Non-Disclosed",:]
count_other=len(other_df["SN"].unique())

gender_df=pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
                        'Total Count':[count_male, count_female, count_other]})

gender_df=gender_df.set_index("Gender")

gender_percentage=gender_df['Total Count']/total_players
gender_df["Percentage of Players"]=gender_percentage.map('{:.2%}'.format)
gender_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
gender_group_df= purchase_data_df.groupby(['Gender'])
gender_group_sum=gender_group_df["Price"].sum()
gender_avg_price=gender_group_df["Price"].mean()
gender_group_avg=gender_group_sum/gender_df['Total Count']


gender_counts= purchase_data_df['Gender'].value_counts()



gender_analysis_df =pd.DataFrame({'Purchase Count': gender_counts,
                                'Average Purchase Price': gender_avg_price,
                                 'Total Purchase Value': gender_group_sum,
                                'Avg Total Purchase per Person':gender_group_avg
                                 })

format_table_gender={'Average Purchase Price': '${:,.2f}',
                   'Total Purchase Value': '${:,.2f}',
                    'Avg Total Purchase per Person': '${:,.2f}'}

gender_analysis_df=gender_analysis_df.style.format(format_table_gender)

gender_analysis_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
age_bins = [0,9,14,19,24,29,34,39,45]
age_ranges = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],age_bins, labels= age_ranges)

age_groups = purchase_data_df.groupby("Age Group")

age_total_count = age_groups["SN"].nunique()

age_percent = (age_total_count/total_players)
age_percent

age_demo = pd.DataFrame({"Total Count": age_total_count, "Percentage of Players": age_percent})
age_demo['Percentage of Players'] = age_demo['Percentage of Players'].map("{:,.2%}".format)

age_demo

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#age_groups = purchase_data_df.groupby("Age Group")

age_purch_count = age_groups["Purchase ID"].count()
age_avg_purch = age_groups["Price"].mean()
age_total_purch = age_groups["Price"].sum()
age_avg_total_person = age_total_purch/age_total_count


age_purchase = pd.DataFrame({"Purchase Count": age_purch_count, "Avg Purchase Price": age_avg_purch,
                             "Total Purchase Value": age_total_purch, "Avg Total Purchase per Person": age_avg_total_person})

age_purchase.index.name = "Age Group"

age_purchase.style.format({"Avg Purchase Price":"${:.2f}", "Total Purchase Value":"${:,.2f}",
                        "Avg Total Purchase per Person":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
top_spenders = purchase_data_df.groupby(["SN"])
purchase_count = top_spenders["Purchase ID"].count()
top_avg_purch = top_spenders["Price"].mean()
top_total_purch = top_spenders["Price"].sum()

top_spenders_table = pd.DataFrame({"Purchase Count": purchase_count, "Avg Purchase Price": top_avg_purch,
                                "Total Purchase Value": top_total_purch})

top_spenders_table.index.name = "SN"

top_spenders_summary = top_spenders_table.sort_values("Total Purchase Value", ascending=False).head(5)

top_spenders_summary.style.format({"Avg Purchase Price":"${:.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
popular_items = purchase_data_df.groupby(["Item ID", "Item Name"])
popular_purch_count = popular_items["Purchase ID"].count()
popular_total_purch = popular_items["Price"].sum()
item_price = popular_total_purch/popular_purch_count

popular_items_table = pd.DataFrame({"Purchase Count": popular_purch_count, "Item Price": item_price,
                              "Total Purchase Value": popular_total_purch})

popular_summary = popular_items_table.sort_values("Purchase Count", ascending=False).head(10)

popular_summary.style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [19]:
popular_summary = popular_items_table.sort_values("Total Purchase Value", ascending=False).head(10)

popular_summary.style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:,.2f}"})